{% extends "base.html" %}
{% block title %}User Search{% endblock %}
{% block head %}
{% endblock %}
{% block content_heading %} {{name}} {% endblock %}
{% block main_content %}
	<div class="taj_problem_statement"> {{statement}} </div>

	{% if comment and comment != '' %}
		<div class="taj_problem_comment">
	    Comment : {{comment}}
	</div>
	{% endif %}

	<div class="taj_problem_author">
	    Author : {{author}}
	</div>

	<div class="taj_problem_time_add">
		{% load tz %}
	    Time Added : {{time_added | localtime }}
	</div>

	<div class="taj_problem_isjudge">
	    Judgment :
	    {% if isjudge == 0 %}
	        Problem will not be judged
	    {% else %}
	    	Problem will be judged
	    {% endif %}
	</div>

	<div class="taj_problem_lang">
	    Languages : 
	    {% if allow_c == 1 %}
	        C C++
	    {% if allow_java == 1%}
	        Java
	    {% endif %}
	</div>

	<div class="taj_problem_time_limit">
	    Time Limit : 
	    {% if is_judge == 1 %}
	    	{% if allow_c == 1 %}
	    		{{time_limit_c}}s (C, C++), 
	    	{% endif %}
	    	{% if allow_java == 1 %}
	    		{{time_limit_java}}s (Java)
	    	{% endif %}
	    {% else %}
	    	No Limit Specified
	    {% endif %}
	</div>

	<div class="taj_problem_mem_limit">
	    Memory Limit :
	    {% if is_judge == 1%}
	    	{% if allow_c == 1 %}
	    		{{memory_limit_c}} MB (C, C++),
	    	{% endif %}
	    	{% if allow_java == 1 %}
	    		{{memory_limit_java}} MB (Java)
	    	{% endif %}
	    {% else %}
	    	No Limit Specified
	    {% endif %}
	</div>

	<div class="taj_problem_control_view">
	    <form id="taj_problem_submit" method="post" action="/problem/submit">
	        <input type="hidden" name="submit_pid" id="submit_pid" value="{{id}}">
	        <input type="submit" value="Submit Solution">
	    </form>
	    {% allow_edit == 1 %}
	        <form id="taj_problem_edit" method="post" action="edit_problem.php">
	            <input type="hidden" name="pid" value="<?php echo $pid; ?>">
	            <input type="submit" value="Edit Problem">
	        </form>
	        <form id="taj_problem_del" method="post" action="delete_problem.php" onsubmit=" return confirm('Are you sure you want to delete {{id}}');">
	            <input type="hidden" name="pid" value="<?php echo $pid; ?>">
	            <input type="submit" value="Delete Problem">
	        </form>
	    {% endif %}
	</div>
{% endblock %}