<html>
    <head>
        <title>TAJ - Sign Up</title>
        {% load staticfiles %}
        <meta charset='UTF-8'>
        <!--<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>-->
        <!--<script src="{% static 'js/highcharts.js' %}" type='text/javascript'></script>-->
        <link rel="icon" type="image/png"  href="{% static 'items/crown250.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/justified-nav.css'%}">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="stylesheet" href="{% static 'css/templates.css' %}">
        <script type="text/javascript">
            function check_form()
            {
                if( (!document.forms["taj_signup_form"]["taj_signup_id"]) ||
                    (!document.forms["taj_signup_form"]["taj_signup_email"]) ||
                    (!document.forms["taj_signup_form"]["taj_signup_password"]) ||
                    (!document.forms["taj_signup_form"]["taj_signup_password_con"]) )
                {
                    alert('Warning : Do not play with the source Code !!');
                    return false;
                }

                var f1 = document.forms["taj_signup_form"]["taj_signup_id"].value.trim();
                if(f1==="")
                {
                    alert("Please enter a desired user id");
                    return false;
                }

                var e1 = document.forms["taj_signup_form"]["taj_signup_email"].value.trim();
                if(e1 === "")
                {
                    alert('Please Enter an Email Id');
                    return false;
                }

                var p1 = document.forms["taj_signup_form"]["taj_signup_password"].value.trim();
                var p2 = document.forms["taj_signup_form"]["taj_signup_password_con"].value.trim();
                if(p1 === "")
                {
                    alert("Please enter your password");
                    return false;
                }
                if(p2 === "")
                {
                    alert("Please enter your password again to confirm");
                    return false;
                }
                if(p1 !== p2)
                {
                    alert("Password Mis-match");
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body class="taj_signup">
        <div class="taj_header">
            <a href="/"><img src="{% static 'items/crown500.png' %}" alt="TAJ ICON" class="taj_header_image"></a>
            <div class="taj_heading">
                    TAJ - Teaching Assisting Judging
            </div>
        </div>
        <div class="taj_signup_error">
            {% if error != '' %}
                    {{error}}
            {% endif %}
        </div>
        <form class="taj_signup_form" id="taj_signup_form" method="post" onsubmit="return check_form()" action="/signup">
            {% csrf_token %}
            <table class="taj_signup_table">
                <tr>
                    <td><label for="taj_signup_id">USER ID* :</label></td>
                    <td><input type="text" maxlength="15" id="taj_signup_id" name="taj_signup_id" value="{{user_id}}"></td>
                </tr>
                <tr>
                    <td><label for="taj_signup_name">Name :</label></td>
                    <td><input type="text" id="taj_signup_name" name="taj_signup_name" value="{{name}}"></td>
                </tr>
                <tr>
                    <td><label for="taj_signup_email">Email :</label></td>
                    <td><input type="text" id="taj_signup_email" name="taj_signup_email" value="{{email}}"></td>
                </tr>
                <tr>
                    <td><label for="taj_signup_password">Password* :</label></td>
                    <td><input type="password" maxlength="32" id="taj_signup_password" name="taj_signup_password"></td>
                </tr>
                <tr>
                    <td><label for="taj_signup_password_con">Confirm Password* :</label></td>
                    <td><input type="password" maxlength="32" id="taj_signup_password_con" name="taj_signup_password_con"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Sign Up" class='btn btn-info'></td>
                </tr>
            </table>
        </form>
    </body>
</html>